body {
  height: 100%;
  padding: 10px;
  font-family: sans-serif;
}

.Size {
  cursor: pointer;
}

.green {
  background-color: rgb(10, 170, 10);
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align:center;
  padding:10px;
  background-color: rgb(255, 255, 255);
}

.right {
  float: right;
}

.top-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}