<template name="importFileSelect">
    <h3>Import a .CSV File</h3>
    <p>Step1: Select a file to import.</p>
    <div class="row">
        <div class="column contentInfo">
            <label class="custom-file-upload">
            <input type="file" name="ebayFile" id="ebayFile" accept=".csv" />
            Click here to Select a .csv file to import
        </label>
        </div>
        <div class="column contentInfo">
            <lable id="customFileUpload" class="custom-file-waiting">
                selected file will show here
            </lable>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="column">
            <button id="cancelParse" class="red">&lt;&lt; Back</button>
        </div>   
        <div class="column">
            {{#if $eq fileSelected true}}
                <button id="parseFileBtn" class="right green">Next &gt;&gt;</button>
            {{else}}
                <button id="parseFileBtn" class="right green" disabled>Next &gt;&gt;</button>
            {{/if}}
        </div>
    </div>


    {{#if $eq infoImported true}}
    <div id="showInfo">
        {{#if Template.subscriptionsReady}}
            {{> verifyData}}
        {{else}}
            {{> spinner}}
        {{/if}}
    </div>
    {{/if}}
</template>