<template name="sidenav">
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="#" id="importWiz" class="navOption">Import CSV File</a>
        
        <a href="#" id="verifyData" class="navOption">View Data</a>
        <a href="#" id="convertData" class="navOption">Convert Data</a>
        <a href="#" id="removeData" class="navOption">Remove Data</a>
        <a href="#" id="importDb" class="navOption">Database Seup</a>
    </div>
</template>