<template name="finalCheck">
    <h3>Once Final Check</h3>
    <p>When you click "Push" you'll be updating your data for reporting. Please make sure you've made any adjustments to the data before clicking the button.</p>

    <p>About to push {{pushCount}} items to your database.</p>
    <div class="row">
        <div class="column">
            <button class="backToFixTitles red" id="backToFixTitles">&lt;&lt; Back</button>
        </div>
        <div class="column">
            <button class="pushData green right" id="pushData">Push!</button>
            {{#if $eq uploadComp.success true}}
            <button class="green right pruneData" id="pruneData">Clean Data</button>
            {{/if}}
            {{#if $eq uploadComp.success false}}
            <button class="right tryAgain" id="tryAgain">Adjust Data and Try Again</button>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{#if $eq uploadComp.success true}}
                <h3>Data Successfully Uploaded!</h3>
            {{/if}}
            {{#if $eq uploadComp.success false}}
                <h3>There May Be Some Missing Data.</h3>
            {{/if}}
        </div>
    </div>
</template>