<template name="importWiz">
    <h3>Import a New File</h3>
    {{#if $eq dbSetup false}}
    <div class="row red">
        <div class="column">
            <p>
                You have not setup a connection to a database for the final data to be exported into.
                <button class="green dbConnection" id="dbConnection">Setup Database Connection</button>
            </p>
        </div>
    </div>
    {{/if}}
    <p>Please make sure you removed the lines 1 and 3 from the CSV, as well as the last 3 lines before uploading the file.</p>
    <div class="row">
        <div class="column">
            When you are ready to upload the modified .csv file, click Next below.
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{#if $eq dbSet false}}
                <button class="nextToImport green right" id="nextToImport" disabled>Next &gt;&gt;</button>
            {{else}}
                <button class="nextToImport green right" id="nextToImport" >Next &gt;&gt;</button>
            {{/if}}
        </div>
    </div>
</template>
