<template name="fixTitles">
    <h3>Fix Item Descriptions / Titles</h3>
    <p>This is an automated fix to change the use of the double quotation marks " into the letters in for inches.  Double quotation marks don't work well with the storage system.</p>
    <p>click "Next" below in order to fix the item descriptions.</p>
    <div class="row">
        <div class="column">
            <button id="cancelFixDescBtn" class="red">&lt;&lt; Back</button>
        </div>
        <div class="column">
            <button id="fixDescBtn" class="right green">Next &gt;&gt;</button>
        </div>
    </div>
</template>