<template name="verifyData">
    <h3>Verification</h3>
    <p>Please go through your sizes, and make sure all sizes are filled in. If there is no size information available, or you don't know, please enter "NA" for the size.</p>
    {{#if Template.subscriptionsReady}}
    <table>
        <thead>
            <tr>
                <th>Sales Record Number</th>
                <th>Size</th>
                <th>Item Title</th>
            </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td id="SRN_{{_id}}" class="SRN">{{SalesRecordNumber}}</td>
                <td id="Size_{{_id}}" class="Size"><input type="text" class="Size-Input" id="sizeInput_{{_id}}" value="{{Size}}" /></td>
                <td id="IT_{{_id}}" class="IT">{{ItemTitle}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="row">
        <div class="column">
            <button class="backToImport red" id="backToImport">&lt;&lt; Back</button>
        </div>
        <div class="column">
            <button class="nextToClean green right" id="nextToClean">Next &gt;&gt;</button>
        </div>
    </div>
    {{else}}
        {{> spinner}}
    {{/if}}
</template>